In [1]:
from load_data import load_data
from format_data import format_data

# List of stock tickers for analysis
tickers = ["SNAP", "AAPL", "TSLA", "META", "JPM", "AMZN", "AMC", "DIS"]

# Define the time period for historical data (start date, end date)
time_period = ("2017-01-01", "2023-05-31")

# Load historical price data for the specified tickers and time period
price_data = load_data(tickers, time_period) 

# Restructure the raw data into a formatted DataFrame
price_data_formatted = format_data(price_data)

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2017-01-03 09:00:00+00:00,116.02,116.24,116.00,116.05,9677,65,116.095840,AAPL
2017-01-03 10:00:00+00:00,116.03,116.06,116.00,116.02,4025,22,116.012442,AAPL
2017-01-03 11:00:00+00:00,116.07,116.28,116.07,116.28,3270,31,116.132881,AAPL
2017-01-03 12:00:00+00:00,116.23,116.38,116.02,116.02,15194,82,116.164874,AAPL
2017-01-03 13:00:00+00:00,116.08,116.40,116.00,116.20,90801,283,116.162979,AAPL

symbol                 AAPL  AMC    AMZN     DIS    JPM    META  SNAP    TSLA
Date
2017-01-03 09:00:00  116.05  NaN  757.76     NaN  86.98  116.30   NaN  214.03
2017-01-03 10:00:00  116.02  NaN  757.84     NaN    NaN  116.16   NaN     NaN
2017-01-03 11:00:00  116.28  NaN  759.00  106.03  87.23  116.45   NaN  214.91
2017-01-03 12:00:00  116.02  NaN  759.30  105.65  87.25  116.15   NaN  215.55
2017-01-03 13:00:00  116.20  NaN  757.40  105.50  87.20  116.10   NaN  215.51